### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd
l =[ 4, 8, 15, 16, 23, 42]

df = pd.Series(l)
print (df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:
import pandas as pd
li = [1,2,3,4,5,6,7,8,9,1]
mylist = pd.Series(li)
print(mylist)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    1
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:

In [7]:
my_dic = {
    "Name" : ["Alice" , "Bob", "Claire"],
    "Age"  : [25     ,30,  27],
    "Gender" : ["Female" ,"Male","Female"]
}
import pandas as pd
df = pd.DataFrame(my_dic)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans -> 
 a `DataFrame` is a two-dimensional labeled data structure that is widely used for data manipulation and analysis. It is a tabular data structure with rows and columns, similar to a spreadsheet or a SQL table. The `DataFrame` allows you to store and organize data in a way that facilitates data exploration, analysis, and transformation.

On the other hand, a `Series` is a one-dimensional labeled array in Pandas. It is similar to a Python list or NumPy array but has additional functionality and flexibility due to the labeled index associated with each element. A `Series` can be seen as a single column of data within a `DataFrame`.

Here's a more detailed explanation with an example:

**DataFrame:**

A `DataFrame` is a 2-dimensional data structure, resembling a table, where data is stored in rows and columns. Each column can have a different data type (e.g., integers, floats, strings) and can be thought of as a `Series`. You can think of a `DataFrame` as a collection of `Series` aligned by a common index.
```python
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 23, 22, 24],
    'Grade': [87, 90, 78, 95]
}

df = pd.DataFrame(data)

print(df)
```


**Series:**

A `Series` is a 1-dimensional data structure, similar to an array or a list. It contains data and an associated index that provides a label for each element. The index helps in accessing and aligning data efficiently.

Example of a Series:

Suppose we want to create a `Series` containing the ages of students:

```python
import pandas as pd

# Creating a Series
ages = pd.Series([25, 23, 22, 24], name='Age')

print(ages)
```

Output:


**Difference between DataFrame and Series:**

1. Dimensions:
   - DataFrame: 2-dimensional, represents tabular data with rows and columns.
   - Series: 1-dimensional, represents a single column with labeled data.

2. Data Structure:
   - DataFrame is a collection of Series. Each column in a DataFrame is a Series.
   - Series is a single column of data.

3. Accessing Data:
   - DataFrame allows accessing data by specifying both row and column labels.
   - Series allows accessing data using only the index (row label).

4. Shape:
   - DataFrame has a shape attribute, such as `(n_rows, n_columns)`.
   - Series has a shape attribute of `(n_elements,)`.

In summary, while a `Series` represents a single column with labeled data, a `DataFrame` is a collection of Series organized in a tabular format, with each column representing a variable and each row representing an observation. The DataFrame is a more powerful and versatile data structure, commonly used for data manipulation, analysis, and data cleaning tasks.

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
ans -> 
some common functions to manipulate data in a Pandas DataFrame are:

1. `head()` and `tail()`: To view the first or last few rows of the DataFrame.
2. `info()`: To get a concise summary of the DataFrame's structure and data types.
3. `describe()`: To generate descriptive statistics for the numeric columns.
4. `sort_values()`: To sort the DataFrame based on one or more columns.
5. `groupby()`: To group the data based on specific columns and perform aggregate functions.
6. `apply()`: To apply custom functions to each element or row of the DataFrame for transformations.

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 23, 22, 24, 26],
    'Grade': [87, 90, 78, 95, 82]
}

df = pd.DataFrame(data)

# Displaying the first two rows
print("First two rows:")
print(df.head(2))

# Displaying the last three rows
print("\nLast three rows:")
print(df.tail(3))

# Getting information about the DataFrame
print("\nDataFrame Info:")
print(df.info())

# Descriptive statistics for the numeric columns
print("\nDescriptive Statistics:")
print(df.describe())

# Sorting the DataFrame by the 'Grade' column in descending order
sorted_df = df.sort_values(by='Grade', ascending=False)
print("\nSorted DataFrame:")
print(sorted_df)

# Grouping the data by the 'Age' column and calculating the average grade for each age group
grouped_df = df.groupby('Age')['Grade'].mean()
print("\nGrouped DataFrame:")
print(grouped_df)

# Defining a function to convert grades to letter grades
def convert_to_letter(grade):
    if grade >= 90:
        return 'A'
    elif grade >= 80:
        return 'B'
    elif grade >= 70:
        return 'C'
    else:
        return 'F'

# Applying the function to the 'Grade' column and creating a new column 'LetterGrade'
df['LetterGrade'] = df['Grade'].apply(convert_to_letter)
print("\nDataFrame with Letter Grades:")
print(df)

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans-> both Series and DataFrame are mutable in nature, meaning you can modify their contents after creation. On the other hand, Panel is not mutable; it is an immutable data structure.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
import pandas as pd 
names = pd.Series(["BOB" , "jane"])
age = pd.Series([20,31])
grades = pd.Series([50,33])

data = {
    "Name" : names,
    "Age": age,
    "Grades": grades
}
df = pd.DataFrame(data)
df

   Name  Age  Grades
0   BOB   20      50
1  jane   31      33